* {
  margin: 0;
  padding: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}

:root {
  /*======  colores  =======*/
  --bg1: linear-gradient(45deg, #000000, #343434 50%, #000000);
  --font1: #faebd7;
  --active: #121212;
  /* --link: #73ba9b; */
  --link: #00c327;
  --accent: #BA2D0B;

  /*===== shadows  ========*/
  --text-shadow: 1px 1px 2px #343434, 2px 2px 4px goldenrod;

  --animation: @keyframes glow {
    0% {
      box-shadow: 0 0 5px var(--link), 0 0 10px var(--accent);
    }

    100% {
      box-shadow: 0 0 20px var(--link), 0 0 30px var(--accent);
    }
  }

  ;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 1.5;
  color: var(--font1);
}

a {
  color: var(--link);
}

a:visited {
  color: #4a9675;
}

h1,
h2,
h3,
h3 {
  text-shadow: var(--text-shadow);
  /* font-style: italic; */
  font-weight: 600;
  text-align: center;
}

h1 {
  font-size: clamp(3.5rem, 9.7vw, 5rem);
}

h2 {
  font-size: clamp(1.25rem, 3.5vw, 1.8rem);
}

button {
  color: var(--accent);
}

main {
  background: var(--bg1);

}

/*==============
******* HEADER **********
===============*/
header {
  background: var(--bg1);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
  flex-wrap: wrap;
  gap: 1em;
}

.nav-logo {
  width: 60px;
  border-radius: 50%;
}

.btn-menu {
  width: 3em;
  fill: var(--font1);
  background-color: transparent;
  border: solid 2px var(--font1);
  border-radius: 5px;
  padding: .5em;
  cursor: pointer;

}

.open-menu {
  display: block;
}

.close-menu {
  display: none;
}

.menu-abierto .open-menu {
  display: none;
}

.menu-abierto .close-menu {
  display: block;
}

nav {
  width: 100%;

}

nav ul {

  display: none;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  justify-content: space-between;
  gap: 1em;
  padding-block: 2em;
}

.active-link {
  display: flex;
}

.nav-link {
  text-decoration: none;
  color: var(--link);
  font-size: 1.1rem;

  font-style: italic;
  font-weight: 600;
}

.nav-link.active {
  background-color: var(--link);
  color: var(--active);
  font-weight: 600;
  padding: .5em;
  border-radius: 5px;
}

.nav-link:focus,
.nav-link:hover {
  color: var(--accent);
  border: solid 2px var(--accent);
  border-radius: 5px;
  padding: .4em;
}

.fixed {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  position: fixed;
  z-index: 1000;
  top: 0;
  animation-name: fixed-appear;
  animation-duration: .3s;
  animation-timing-function: ease-out;
}

@keyframes fixed-appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/*=========  HERO  ========*/

.hero {
  background: gray url('../images/bar-fondo.jpg') center/cover no-repeat;
  background-blend-mode: multiply;
  width: 100%;
  padding: 2em;
}

.hero-title {
  margin-block: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;

}

.hero-title>p {
  font-size: 2rem;
  font-weight: 600;
  font-style: italic;
  text-shadow: var(--text-shadow);

}

.btn-reservas {
  padding: .5em 1em;
  border: solid 3px var(--accent);
  border-radius: 5px;
  font-size: 1.1rem;
  font-weight: 600;
  text-decoration: none;
}

/*======  main-section  ========*/

.main-sections {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3em;
  padding: 3em 1em;
  width: 90%;
  margin: 0 auto;
}

.container-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding: 3em 1em;
  gap: 2em;


  border: 2px solid transparent;
  border-radius: 5px;
  animation: glow 2s ease-in-out infinite alternate;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 5px var(--link), 0 0 10px var(--accent);
  }

  100% {
    box-shadow: 0 0 20px var(--link), 0 0 30px var(--accent);
  }
}

/* .main-content{
  
  border-radius: 5px; 
  display: flex;
  flex-direction: column;
  padding: 1em;  
  gap: 1em;



  position: relative;
  padding: 2rem;
  color: white;
  border-radius: 16px;
  z-index: 1;
  overflow: hidden;  
 } */


.image-section {
  aspect-ratio: 1.7 / 1;
  object-fit: cover;
  border-radius: 5px;
  width: 100%;
  order: -1;
}

.info-section {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em .5em;
}


footer {
  background: var(--bg1);
  padding: 1em 4em;
}

.copyright {
  text-align: center;
  font-size: .8rem;
  margin-block: 1em;
}

/*==================
***** NOSOTROS ******
=====================*/

.nosotros-info {
  display: flex;
  flex-direction: column;
  gap: 1em;
}


.nosotros-info img {
  width: 50%;
}


/*==================
******** MENÚ ********
====================*/
.main-menu {
  padding: 1em;
}

.intro-menu {
  width: 90%;
  padding: 1em;
  margin: 0 auto;
  max-width: 900px;
}

.intro-menu>h1 {
  text-align: center;
  font-size: 1.7rem;
  text-shadow: 1px 1px 2px #343434, 2px 2px 4px goldenrod;
}

.intro-menu>p {
  margin-block: 1em;
  line-height: 1.5;
}

.intro-menu>ul {
  padding: 1em;
}

.intro-menu>ul li {
  margin-block: 1em;
}

.carta {
  width: 90%;
  margin: auto;
  padding: 1em;
  position: relative;
  /* padding: 2rem; */
  color: white;
  border-radius: 16px;
  z-index: 1;
  overflow: hidden;
  max-width: 900px;

  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}



#cocteles {
  background-image: url('../images/menu/cocteles.webp'), var(--bg1);
}

#combinados {
  background-image: url('../images/menu/combinados.webp'), var(--bg1);
}

#vinos {
  background-image: url('../images/menu/vinos.webp'), var(--bg1);
}

#cervezas {
  background-image: url('../images/menu/cervezas.webp'), var(--bg1);
}

#bebidas {
  background-image: url('../images/menu/bebidas.webp'), var(--bg1);
}

#tablas {
  background-image: url('../images/menu/tablas.webp'), var(--bg1);
}

#sandwich {
  background-image: url('../images/menu/sandwich.webp'), var(--bg1);
}


.item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: 1em;
  padding-inline: 1em;
  gap: 1em;
}

.ingredientes {
  /* max-width: 60%; */
  margin-block: 1em;
}

.precios {
  display: flex;
  gap: 1em;
  padding-inline: .5em;

}

.nombre {
  font-size: 1.1rem;
  font-weight: 700;
  text-shadow: 1px 1px 2px #343434, 2px 2px 4px #00c327;


}

.valor {
  font-size: 1rem;
  padding-inline: 1em;
  font-weight: 600;
}

.carta-tablas>.item-container,
.carta-sandwich>.item-container,
.carta-vinos>.item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block: 2em;
  gap: 0;
}

.producto4,
.producto3 {
  text-align: center;
}

.precios4 {
  gap: 0;
}


@media (min-width:650px) {
  header {
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-inline: .5em;
  }

  .btn-menu {
    display: none;
  }

  nav {
    max-width: 70%;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: space-around;
  }

  .hero-title {
    padding-block: 3em;
  }

  .hero-title>h1 {
    font-size: 4rem;
  }

}

@media (min-width:750px) {
  .container-section {
    flex-direction: row;
  }

  .image-section {
    width: 50%;

  }
}

@media (min-width:850px) {


  .intro-menu>p {
    font-size: 1.1rem;
  }

  .link-menu {
    font-size: 1.2rem;
  }

  .link-menu:focus,
  .link-menu:hover {
    color: #ff00e6;

  }

  .item-container {
    margin-block: 2em;
  }

  .carta-tablas>.item-container,
  .carta-sandwich>.item-container,
  .carta-vinos>.item-container {
    flex-direction: row;
    gap: 1em;
  }

  .producto3,
  .producto4 {
    text-align: left;
  }

  .ingredientes {
    max-width: 80%;
  }

  .valor {
    font-size: 1.2rem;
  }

  
}

@media (min-width:1000px) {

  .main-sections {
    grid-template-columns: 1fr 1fr;
  }

  .container-section {
    flex-direction: column;
  }

  .image-section {
    order: -1;
    width: 100%;
  }
}